spring:
  datasource:
    url: jdbc:postgresql://${PGHOST:postgres.railway.internal}:${PGPORT:5432}/${PGDATABASE:railway}
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:ncJpqXJaALvqgVZvOipRlqeAUoZZnIGW}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: ${PORT:8080}
  error:
    include-message: always
    include-binding-errors: always

app:
  jwt:
    secret: ${JWT_SECRET:railway-fallback-secret-only-for-hackathon}

  file:
    upload-dir: ${UPLOAD_DIR:/app/uploads}

logging:
  level:
    root: INFO
    com.incident: INFO
